<section class="py-32">
    <div
        class="container mx-auto px-4 flex flex-col gap-8 lg:flex-row lg:gap-16"
    >
        <div class="mb-8 md:mb-14 lg:min-w-[30%]">
            <p
                class="text-wider mb-2 text-sm font-medium text-muted-foreground"
            >
                Nuestros
            </p>
            <h2
                class="mb-4 w-full text-4xl font-medium md:mb-5 md:text-5xl lg:mb-6 lg:max-w-xs lg:text-6xl"
            >
                Blogs
            </h2><p class="md:mb-5 lg:mb-6 lg:max-w-xs">
                Aquí encontrarás los últimos artículos de nuestro blog. No te
                los pierdas.
            </p><button
                class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 hidden md:block"
            >
                Ver todos los posts
            </button>
        </div><div
            class="grid gap-x-4 gap-y-8 md:grid-cols-2 lg:gap-x-6 lg:gap-y-12"
        >
            <a href="#" class="group flex flex-col"
                ><div class="mb-4 flex overflow-clip rounded-xl md:mb-5">
                    <div class="transition duration-300 group-hover:scale-105">
                        <img
                            src="/img/blogs/blog1.avif"
                            alt="Duis sem sem"
                            class="aspect-[3/2] h-full w-full object-cover object-center"
                        />
                    </div>
                </div><div
                    class="flex w-fit items-center rounded-full border border-border p-1"
                >
                    <div
                        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80"
                    >
                        Design
                    </div><div class="mx-2 text-xs font-medium">8 min read</div>
                </div><div
                    class="mb-2 flex items-start gap-4 pt-4 md:mb-3 md:pt-4 lg:pt-4"
                >
                    <span
                        class="line-clamp-3 flex-1 break-words text-lg font-medium md:text-2xl lg:text-2xl xl:text-3xl"
                        >Duis sem sem</span
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right size-6 shrink-0"
                        ><path d="M7 7h10v10"></path><path d="M7 17 17 7"
                        ></path></svg
                    >
                </div><div
                    class="mb-4 line-clamp-2 text-sm text-muted-foreground md:mb-5 md:text-base"
                >
                    Pellentesque eget quam ligula. Sed felis ante, consequat nec
                    ultrices ut, ornare quis metus. Vivamus sit amet tortor vel
                    enim sollicitudin hendrerit.
                </div><div class="flex items-center gap-2">
                    <span
                        class="relative flex shrink-0 overflow-hidden rounded-full size-12"
                        ><img
                            class="aspect-square h-full w-full"
                            src="https://shadcnblocks.com/images/block/avatar-1.webp"
                        /></span
                    ><div class="flex flex-col gap-px">
                        <span class="text-xs font-medium">Jane Doe</span><span
                            class="text-xs text-muted-foreground"
                            >1 Jan 2024</span
                        >
                    </div>
                </div></a
            ><a href="#" class="group flex flex-col"
                ><div class="mb-4 flex overflow-clip rounded-xl md:mb-5">
                    <div class="transition duration-300 group-hover:scale-105">
                        <img
                            src="/img/blogs/blog2.avif"
                            alt="Gravida vel porttitor eu"
                            class="aspect-[3/2] h-full w-full object-cover object-center"
                        />
                    </div>
                </div><div
                    class="flex w-fit items-center rounded-full border border-border p-1"
                >
                    <div
                        class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80"
                    >
                        Design
                    </div><div class="mx-2 text-xs font-medium">8 min read</div>
                </div><div
                    class="mb-2 flex items-start gap-4 pt-4 md:mb-3 md:pt-4 lg:pt-4"
                >
                    <span
                        class="line-clamp-3 flex-1 break-words text-lg font-medium md:text-2xl lg:text-2xl xl:text-3xl"
                        >Gravida vel porttitor eu</span
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right size-6 shrink-0"
                        ><path d="M7 7h10v10"></path><path d="M7 17 17 7"
                        ></path></svg
                    >
                </div><div
                    class="mb-4 line-clamp-2 text-sm text-muted-foreground md:mb-5 md:text-base"
                >
                    Pellentesque eget quam ligula. Sed felis ante, consequat nec
                    ultrices ut, ornare quis metus. Vivamus sit amet tortor vel
                    enim sollicitudin hendrerit.
                </div><div class="flex items-center gap-2">
                    <span
                        class="relative flex shrink-0 overflow-hidden rounded-full size-12"
                        ><img
                            class="aspect-square h-full w-full"
                            src="https://shadcnblocks.com/images/block/avatar-1.webp"
                        /></span
                    ><div class="flex flex-col gap-px">
                        <span class="text-xs font-medium">Jane Doe</span><span
                            class="text-xs text-muted-foreground"
                            >1 Jan 2024</span
                        >
                    </div>
                </div></a
            >
        </div><div class="mt-8 flex flex-col items-center py-2 md:hidden">
            <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full sm:w-fit"
                >View all posts</button
            >
        </div>
    </div>
</section>
