---

---

<section id="Descriptions" class="py-12">
    <div class="container mx-auto">
        <div
            class="flex flex-col items-center justify-between gap-8 rounded-lg bg-zinc-100 p-6 md:flex-row lg:px-20 lg:py-16 hover:shadow-lg transition-shadow"
        >
            <div class="w-full">
                <h4 class="mb-4 text-2xl font-bold md:text-3xl text-balance">
                    Disfruta de un espacio único con piscina y tinaja en La
                    Serena y Coquimbo
                </h4>
                <p class="text-zinc-600 text-balance">
                    Nuestro quincho con piscina es ideal para eventos familiares
                    o reuniones de amigos. Relájate en nuestras tinajas de agua
                    caliente, rodeadas de naturaleza.
                </p>
                <a
                    href="https://api.whatsapp.com/send?phone=56997364529&text=Hola%20quiero%20hacer%20una%20reserva.%20Que%20dias%20tenes%20disponibles%3F"
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-gray-800 underline-offset-4 hover:underline h-10 py-2 mt-8 px-0 underline"
                >
                    Que esperas para reservar
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-right ml-2 size-4"
                    >
                        <path d="M5 12h14"></path>
                        <path d="m12 5 7 7-7 7"></path>
                    </svg>
                </a>
            </div>
            <div class="w-full">
                <ul
                    class="space-y-2 text-sm font-medium sm:text-base lg:text-lg"
                >
                    <li class="flex flex-col md:items-center md:flex-row">
                        <div class="flex items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-check mr-4 size-5 text-green-500"
                            >
                                <path d="M20 6 9 17l-5-5"></path>
                            </svg>
                            <strong> Exclusividad: &nbsp; </strong>
                        </div>
                        <p>Un espacio privado solo para tu grupo.</p>
                    </li>
                    <li class="flex flex-col md:items-center md:flex-row">
                        <div class="flex items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-check mr-4 size-5 text-green-500"
                            >
                                <path d="M20 6 9 17l-5-5"></path>
                            </svg>
                            <strong class="text-nowrap"
                                >Piscinas en La Serena y Coquimbo: &nbsp;</strong
                            >
                        </div>
                        <p>Disfruta de un entorno relajante y seguro.</p>
                    </li>
                    <li class="flex flex-col md:items-center md:flex-row">
                        <div class="flex items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-check mr-4 size-5 text-green-500"
                            >
                                <path d="M20 6 9 17l-5-5"></path>
                            </svg>
                            <strong>Fácil acceso: &nbsp;</strong>
                        </div>
                        <p>Amplio estacionamiento y cercanía a la ciudad.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
