---

---

<section id="Descriptions" class="py-12">
    <div class="container mx-auto">
        <div
            class="relative flex flex-col items-center justify-between gap-8 backdrop-blur-md bg-zinc-100/50 rounded-lg p-6 overflow-hidden md:flex-row md:bg-none lg:px-20 lg:py-16 hover:shadow-lg transition-shadow"
        >
            <img
                class="absolute z-0 inset-0 object-cover w-full h-full rounded-lg opacity-35 md:hidden"
                src="/img/description/tinaja.avif"
                alt="Amigas disfrutando de la tinaja"
            />
            <div class="relative z-10 w-full text-center md:text-left">
                <h3 class="mb-4 text-2xl font-bold md:text-3xl text-balance">
                    ¡El Rinconcito te espera!
                </h3>
                <p class="text-zinc-600 text-balance">
                    Relájate en nuestra tinaja caliente, refréscate en la
                    piscina y comparte momentos inolvidables con tus seres
                    queridos. Nuestro quincho es el lugar perfecto para eventos
                    familiares, reuniones de amigos o simplemente para
                    desconectar. ¡La Serena y Coquimbo nunca fueron tan
                    atractivos!
                </p>
                <a
                    href="https://api.whatsapp.com/send?phone=56997364529&text=Hola%20quiero%20hacer%20una%20reserva.%20Que%20dias%20tenes%20disponibles%3F"
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-gray-800 underline-offset-4 hover:underline h-10 py-2 mt-8 px-0 underline"
                >
                    Que esperas para reservar
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-right ml-2 size-4"
                    >
                        <path d="M5 12h14"></path>
                        <path d="m12 5 7 7-7 7"></path>
                    </svg>
                </a>
            </div>
            <div class="relative z-10 w-full text-center md:text-left">
                <ul
                    class="space-y-2 text-sm font-medium sm:text-base lg:text-lg"
                >
                    <li class="flex flex-col md:items-center md:flex-row">
                        <div class="flex items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-check mr-4 size-5 text-green-500"
                            >
                                <path d="M20 6 9 17l-5-5"></path>
                            </svg>
                            <strong> Exclusividad </strong>
                        </div>
                    </li>
                    <li class="flex flex-col md:items-center md:flex-row">
                        <div class="flex items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-check mr-4 size-5 text-green-500"
                            >
                                <path d="M20 6 9 17l-5-5"></path>
                            </svg>
                            <strong class="text-nowrap">Fácil acceso</strong>
                        </div>
                    </li>
                    <li class="flex flex-col md:items-center md:flex-row">
                        <div class="flex items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-check mr-4 size-5 text-green-500"
                            >
                                <path d="M20 6 9 17l-5-5"></path>
                            </svg>
                            <strong>Amplio estacionamiento</strong>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
