---

---

<section id="Faqs" class="py-12">
    <div class="container mx-auto px-4">
        <div class="text-center">
            <div
                class="inline-flex items-center rounded-full border px-2.5 py-0.5 transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 text-xs font-medium"
            >
                FAQ
            </div>
            <h1 class="mt-4 text-4xl font-semibold">
                Preguntas y respuestas comunes
            </h1>
            <p class="mt-6 font-medium text-muted-foreground">
                Descubra todos los detalles esenciales sobre nuestra plataforma
                y cómo puede satisfacer sus necesidades.
            </p>
        </div>
        <div class="mx-auto mt-14 max-w-screen-sm">
            <div class="space-y-4">
                <details
                    class="group [&_summary::-webkit-details-marker]:hidden"
                    open
                >
                    <summary
                        class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
                    >
                        <h3 class="font-medium">
                            ¿Cuál es el horario de las instalaciones?
                        </h3>

                        <svg
                            class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </summary>

                    <p class="mt-4 px-4 leading-relaxed text-gray-700">
                        El horario de uso de las instalaciones es de lunes a
                        domingo de 10:00 a 19:00 para quincho
                    </p>
                </details>

                <details
                    class="group [&_summary::-webkit-details-marker]:hidden"
                >
                    <summary
                        class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
                    >
                        <h3 class="font-medium">
                            ¿Cuál es la capacidad máxima de personas?
                        </h3>

                        <svg
                            class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </summary>

                    <p class="mt-4 px-4 leading-relaxed text-gray-700">
                        Nuestra capacidad máxima dentro del recinto es para 50
                        personas en total, con el fin de que cada uno este
                        cómodo y disfrute su día en El Rinconcito.
                    </p>
                </details>
                <details
                    class="group [&_summary::-webkit-details-marker]:hidden"
                >
                    <summary
                        class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
                    >
                        <h3 class="font-medium">
                            ¿Es posible reservar solo tinaja?
                        </h3>

                        <svg
                            class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </summary>

                    <p class="mt-4 px-4 leading-relaxed text-gray-700">
                        Sí, tenemos cupos exclusivos para que puedas acudir a
                        disfrutar de tinaja y las camas de cuarzo. Consulta por
                        disponibilidad &nbsp;
                        <a
                            class="text-primary font-bold hover:underline hover:text-primary/80"
                            href="https://api.whatsapp.com/send?phone=56997364529&text=Hola%20quiero%20hacer%20una%20reserva.%20Que%20dias%20tenes%20disponibles%3F"
                            >+56997364529</a
                        >.
                    </p>
                </details>
            </div>
        </div>
    </div>
</section>
