---

---

<section id="Faqs" class="container max-w-4xl mx-auto px-4 py-12">
    <div class="space-y-4">
        <details class="group [&_summary::-webkit-details-marker]:hidden" open>
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
            >
                <h2 class="font-medium">
                    ¿Cuál es el horario de uso de las instalaciones?
                </h2>

                <svg
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"></path>
                </svg>
            </summary>

            <p class="mt-4 px-4 leading-relaxed text-gray-700">
                El horario de uso de las instalaciones es de lunes a viernes de
                6 a 22 horas y sábados de 8 a 14 horas. Para más información,
                puedes comunicarte al teléfono 123 456 7890.
            </p>
        </details>

        <details class="group [&_summary::-webkit-details-marker]:hidden">
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
            >
                <h2 class="font-medium">
                    ¿Es posible reservar solo la tinaja?
                </h2>

                <svg
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"></path>
                </svg>
            </summary>

            <p class="mt-4 px-4 leading-relaxed text-gray-700">
                Sí, es posible reservar solo la tinaja. Para más información,
                puedes comunicarte al teléfono 123 456 7890.
            </p>
        </details>
        <details class="group [&_summary::-webkit-details-marker]:hidden">
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
            >
                <h2 class="font-medium">
                    ¿Puedo llevar mi propia comida para usar el quincho?
                </h2>

                <svg
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"></path>
                </svg>
            </summary>

            <p class="mt-4 px-4 leading-relaxed text-gray-700">
                Sí, puedes llevar tu propia comida para usar el quincho. Para
                más información, puedes comunicarte al teléfono 123 456 7890.
            </p>
        </details>
    </div>
</section>
