---

---

<section class="py-32">
    <div class="container mx-auto px-4">
        <div class="text-center">
            <div
                class="inline-flex items-center rounded-full border px-2.5 py-0.5 transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80 text-xs font-medium"
            >
                FAQ
            </div>
            <h1 class="mt-4 text-4xl font-semibold">
                Preguntas y respuestas comunes
            </h1>
            <p class="mt-6 font-medium text-muted-foreground">
                Descubra todos los detalles esenciales sobre nuestra plataforma
                y cómo puede satisfacer sus necesidades.
            </p>
        </div>
        <div class="mx-auto mt-14 max-w-screen-sm">
            <div class="mb-8 flex gap-4">
                <span
                    class="flex size-6 shrink-0 items-center justify-center rounded-sm bg-secondary font-mono text-xs text-primary"
                >
                    1
                </span>
                <div>
                    <div class="mb-2 flex items-center justify-between">
                        <h3 class="font-medium text-lg">
                            ¿Cuál es el horario de uso de las instalaciones?
                        </h3>
                    </div>
                    <p class="text-pretty">
                        El horario de uso de las instalaciones es de lunes a
                        viernes de 6 a 22 horas y sábados de 8 a 14 horas. Para
                        más información, puedes comunicarte al teléfono
                        <a
                            class="text-primary font-bold hover:underline hover:text-primary/80"
                            href="https://api.whatsapp.com/send?phone=56997364529&text=Hola%20quiero%20hacer%20una%20reserva.%20Que%20dias%20tenes%20disponibles%3F"
                            >+56997364529</a
                        >.
                    </p>
                </div>
            </div>
            <div class="mb-8 flex gap-4">
                <span
                    class="flex size-6 shrink-0 items-center justify-center rounded-sm bg-secondary font-mono text-xs text-primary"
                >
                    2
                </span>
                <div>
                    <div class="mb-2 flex items-center justify-between">
                        <h3 class="font-medium text-lg">
                            ¿Es posible reservar solo la tinaja?
                        </h3>
                    </div>
                    <p class="text-pretty">
                        Sí, es posible reservar solo la tinaja. Para más
                        información, puedes comunicarte al teléfono
                        <a
                            class="text-primary font-bold hover:underline hover:text-primary/80"
                            href="https://api.whatsapp.com/send?phone=56997364529&text=Hola%20quiero%20hacer%20una%20reserva.%20Que%20dias%20tenes%20disponibles%3F"
                            >+56997364529</a
                        >.
                    </p>
                </div>
            </div>
            <div class="mb-8 flex gap-4">
                <span
                    class="flex size-6 shrink-0 items-center justify-center rounded-sm bg-secondary font-mono text-xs text-primary"
                >
                    3
                </span>
                <div>
                    <div class="mb-2 flex items-center justify-between">
                        <h3 class="font-medium text-lg">
                            ¿Puedo llevar mi propia comida para usar el quincho?
                        </h3>
                    </div>
                    <p class="text-pretty">
                        Sí, puedes llevar tu propia comida para usar el quincho.
                        Para más información, puedes comunicarte al teléfono
                        <a
                            class="text-primary font-bold hover:underline hover:text-primary/80"
                            href="https://api.whatsapp.com/send?phone=56997364529&text=Hola%20quiero%20hacer%20una%20reserva.%20Que%20dias%20tenes%20disponibles%3F"
                            >+56997364529</a
                        >.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
