---
import { SheetMenu } from "./sheet-menu";
---

<header class="fixed w-full bg-white z-50">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="md:flex md:items-center md:gap-12">
                <a class="block text-zinc-600" href="#">
                    <span class="sr-only">Home</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 1656 1656"
                        class="size-14 fill-zinc-900 hover:fill-zinc-900/75"
                    >
                        <path
                            opacity="1.000000"
                            stroke="none"
                            d=" M900.810242,183.180084   C935.763916,229.468277 963.212646,279.699188 985.831238,332.522888   C1004.839905,376.916199 1022.524780,421.876282 1040.800171,466.583649   C1041.472656,468.228760 1042.192505,469.854462 1043.425903,472.743774   C1073.081665,402.227203 1077.932739,329.738403 1072.578735,254.222778   C1074.552490,256.487854 1075.568359,257.590363 1076.515137,258.749359   C1120.184204,312.208466 1161.852173,367.131439 1198.048950,426.010132   C1237.406128,490.029846 1269.954102,557.126526 1289.243652,630.118469   C1301.398682,676.113464 1307.554810,722.859497 1307.133545,770.495667   C1306.901855,796.688843 1306.339600,822.800720 1301.348999,848.625061   C1294.216919,885.530945 1281.531372,920.474548 1264.521729,953.927307   C1237.807007,1006.466797 1202.332886,1052.749146 1163.331787,1096.596680   C1131.124512,1132.806030 1095.288452,1164.690063 1053.830933,1189.949097   C1016.504272,1212.691284 976.743958,1229.948730 934.673218,1241.925171   C868.018005,1260.899780 800.188293,1266.395508 731.287292,1260.140137   C658.171448,1253.501953 588.595154,1234.130005 522.629456,1201.927612   C472.268250,1177.342773 426.396118,1146.128540 385.932953,1107.302490   C360.160156,1082.572388 336.049866,1056.269531 317.830200,1025.260498   C298.054169,991.602600 286.959106,954.972778 281.955841,916.391418   C275.999481,870.460022 279.456543,824.980164 288.268921,779.713684   C298.561310,726.844788 318.094910,677.252747 340.315277,628.443176   C364.259979,575.845825 387.512482,522.921631 410.218079,469.777405   C419.887451,447.145447 427.401184,423.592529 435.893341,400.457703   C436.631287,398.447388 437.360962,396.434021 438.094482,394.422058   C438.589508,394.355286 439.084534,394.288483 439.579559,394.221710   C455.653809,451.984131 471.728058,509.746552 488.043213,568.374634   C495.867615,558.051636 503.307343,548.500366 510.468048,538.744324   C547.478577,488.319794 581.617065,436.046143 611.235291,380.908813   C647.085999,314.169220 675.827332,244.566406 694.271179,170.961105   C706.163574,123.501137 713.628662,75.322281 715.713562,26.376320   C715.761963,25.239429 715.916260,24.107052 716.057373,22.580486   C717.192322,23.072495 718.133789,23.319256 718.894409,23.833467   C756.304138,49.125687 793.561523,74.616440 827.894836,104.098450   C855.201233,127.546455 879.452393,153.778351 900.810242,183.180084  M976.717773,1165.230225   C994.228577,1150.039185 1006.385559,1131.161865 1014.718628,1109.710327   C1026.786743,1078.643677 1030.375732,1046.084351 1030.858643,1013.119873   C1031.576416,964.123291 1025.848389,915.687439 1016.887024,867.600708   C1003.602234,796.313904 981.407776,727.915833 949.916809,662.574829   C914.542236,589.175903 868.817078,522.999939 811.700989,464.778503   C810.619446,463.676056 810.312622,461.813629 809.644348,460.305756   C808.896484,460.853729 808.148682,461.401703 807.400818,461.949677   C798.456482,569.945740 778.762573,675.070251 725.403870,772.183899   C708.203857,726.994141 691.345642,682.702515 674.487488,638.410889   C673.966858,638.529724 673.446228,638.648499 672.925598,638.767273   C672.005127,640.885193 671.105652,643.012573 670.160950,645.119629   C660.893433,665.790466 652.453918,686.883545 642.184814,707.044556   C614.061401,762.258301 585.569031,817.293457 556.438110,871.981384   C536.770386,908.903931 522.758057,947.305603 519.518677,989.283630   C515.454346,1041.950806 524.624573,1091.635010 553.709290,1136.430664   C560.991028,1147.645874 569.458008,1158.724487 579.522522,1167.372803   C602.951904,1187.505371 630.132202,1201.807251 659.101807,1212.516968   C719.471191,1234.834473 781.302429,1238.380005 844.082886,1225.629639   C892.599854,1215.775879 937.068542,1196.526489 976.717773,1165.230225  z"
                        ></path>
                        <path
                            opacity="1.000000"
                            stroke="none"
                            d=" M1262.915527,1573.890381   C1220.362427,1582.720215 1177.771240,1588.440308 1134.999268,1592.846191   C1006.493042,1606.083008 877.614990,1609.336182 748.536621,1606.877075   C672.195374,1605.422729 595.977051,1601.594849 519.993164,1593.938843   C463.272308,1588.223877 406.734406,1581.086914 351.406342,1566.772827   C331.747040,1561.686768 312.088379,1556.218262 294.795074,1544.888306   C278.080139,1533.937378 278.116150,1521.301514 294.969330,1510.391235   C312.882721,1498.794434 333.221313,1493.286621 353.546326,1488.095215   C403.860168,1475.244263 455.191803,1468.322021 506.738251,1462.907715   C647.544495,1448.117554 788.761963,1445.538330 930.158081,1449.333008   C994.135071,1451.049927 1058.019531,1454.802124 1121.716675,1461.147583   C1172.787720,1466.235352 1223.782837,1472.277222 1273.797852,1484.089722   C1294.948975,1489.085083 1315.725586,1496.006836 1336.193115,1503.383057   C1344.190674,1506.265259 1351.478882,1512.113892 1357.980225,1517.865967   C1364.337769,1523.490845 1363.860474,1531.032471 1358.251465,1537.487061   C1350.091797,1546.876587 1339.119141,1552.180664 1327.716675,1555.743774   C1306.449951,1562.389404 1284.816162,1567.861328 1262.915527,1573.890381  z"
                        ></path>
                    </svg>
                </a>
            </div>

            <div class="hidden md:block">
                <nav aria-label="Global">
                    <ul class="flex items-center gap-6 text-sm">
                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#hero"
                            >
                                Home
                            </a>
                        </li>

                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#Descriptions"
                            >
                                Descripción
                            </a>
                        </li>

                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#WhyUs"
                            >
                                Porque elegirnos
                            </a>
                        </li>

                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#Service"
                            >
                                Servicios
                            </a>
                        </li>

                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#Testimonials"
                            >
                                Testimonios
                            </a>
                        </li>

                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#Reserva"
                            >
                                Contáctenos
                            </a>
                        </li>
                        <li>
                            <a
                                class="text-zinc-900 transition hover:text-zinc-900/75 font-semibold"
                                href="#Faqs"
                            >
                                Pregunta frecuentes
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="flex items-center gap-4">
                <div class="sm:flex sm:gap-4">
                    <a
                        class="rounded-md bg-zinc-900 px-5 py-2.5 text-sm font-medium text-white shadow"
                        target="_blank"
                        href="https://api.whatsapp.com/send?phone=56997364529&text=Hola%20quiero%20hacer%20una%20reserva.%20Que%20dias%20tenes%20disponibles%3F"
                    >
                        Reserva ahora
                    </a>
                </div>

                <div class="block md:hidden">
                    <SheetMenu client:visible />
                </div>
            </div>
        </div>
    </div>
</header>
<style>
    header {
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }

    header {
        @apply bg-zinc-50/60;
    }

    @keyframes nav-shadown {
        0% {
            @apply bg-zinc-800/0;
        }
        to {
            @apply shadow-lg ring-1 backdrop-blur ring-white/10;
        }
    }
</style>
