---

---

<section
    id="Inicio"
    class="relative h-[100dvh] w-full flex flex-col justify-center text-zinc-50 items-center text-center"
>
    <div class="h-[100dvh] w-full z-10 brightness-75">
        <picture>
            <source
                srcset="/img/heroprincipal/Fotos Oficiales-11.avif"
                type="image/avif"
                media="(width >= 800px)"
            />
            <source
                srcset="/img/heroprincipal/Fotos Oficiales-10.avif"
                type="image/avif"
                media="(width <= 800px)"
            />
            <img
                class="w-full object-cover h-[100dvh]"
                src="/img/heroprincipal/Fotos Oficiales-11.avif"
                alt={`Imagen de la piscina`}
            />
        </picture>
    </div>
    <div
        class="flex flex-col justify-center items-center h-[80dvh] w-full max-w-5xl z-30 absolute left-[0%] lg:left-[calc(50%-512px)] lg:h-auto"
    >
        <h2
            class="text-6xl lg:text-7xl mb-4 font-bold drop-shadow-[0_0px_7px_rgba(255,255,255,0.35)]"
        >
            El Rinconcito
        </h2>
        <h3
            class="text-xl md:text-2xl mb-8 font-medium drop-shadow-[0_0px_7px_rgba(255,255,255,0.35)]"
        >
            Piscinas, Quincho y Tinajas Privadas
        </h3>
        <a
            href="#Contacto"
            class="h-9 px-4 py-2 bg-primary text-primary-foreground shadow hover:bg-primary/90 inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:drop-shadow-[0_0px_7px_rgba(255,255,255,0.75)]"
        >
            Reserva ahora
        </a>
    </div>
</section>
