<section id="Service" class="py-12">
    <div class="container mx-auto">
        <h2 class="mb-14 text-center text-4xl font-medium lg:text-7xl">
            Servicios Disponibles
        </h2>
        <p class="mb-14 text-center text-zinc-800 text-xl font-semibold">
            Todo lo que necesitas para un día inolvidable en El Rinconcito a
            solo 15 min de La Serena y Coquimbo
        </p>
        <div
            class="grid grid-cols-1 grid-rows-4 gap-4 lg:grid-cols-3 lg:grid-rows-2"
        >
            <div
                class="shadow-lg ring-2 backdrop-blur ring-white/20 rounded-lg overflow-hidden lg:h-96 lg:rounded-tl-3xl lg:col-span-2"
            >
                <img
                    src="/img/service/piscina.avif"
                    alt="placeholder hero"
                    class="w-full h-full rounded-md object-cover lg:h-96"
                />
            </div>
            <div
                class="p-6 shadow-lg ring-2 backdrop-blur ring-white/20 bg-zinc-700/10 rounded-lg lg:h-96 lg:rounded-bl-3xl lg:col-start-1 lg:row-start-2"
            >
                <h3 class="text-3xl font-bold text-balance mb-6">
                    Arriendo de quincho con piscina
                </h3>
                <p class="text-zinc-800 font-semibold text-balance">
                    Ofrecemos quincho, piscina, áreas verdes, zona de juegos,
                    amplio estacionamiento dentro del recinto. Totalmente
                    privado para el grupo que reserves. Horario de lunes a
                    domingo de 10:00 a 19:00
                </p>
            </div>
            <div
                class="p-6 shadow-lg ring-2 backdrop-blur ring-white/20 bg-zinc-700/10 rounded-lg row-start-4 lg:h-96 lg:rounded-tr-3xl lg:col-start-3 lg:row-start-1"
            >
                <h3 class="text-3xl font-bold text-balance mb-6">
                    Tinaja y cama de cuarzo
                </h3>
                <p class="text-zinc-800 font-semibold text-balance">
                    Sumergirte en una tinaja caliente no solo es relajante, sino
                    que también trae consigo algunos beneficios que todos
                    necesitamos: Relajación Muscular, Reducción del Estrés Y
                    Mejora del Estado de Ánimo. <br /> Ven en pareja o grupo de amigos
                    para disfrutar y vivir al máximo la desconexión de El Rinconcito
                </p>
            </div>
            <div
                class="shadow-lg ring-2 backdrop-blur ring-white/20 rounded-lg overflow-hidden lg:h-96 lg:rounded-br-3xl lg:col-span-2 lg:row-start-2"
            >
                <img
                    src="/img/service/tinaja.avif"
                    alt="placeholder hero"
                    class="w-full h-full rounded-md object-cover lg:h-96"
                />
            </div>
        </div>
    </div>
</section>
