<section id="Service" class="py-12">
    <div class="container mx-auto">
        <h2 class="mb-14 text-center text-4xl font-medium lg:text-7xl">
            Servicios Disponibles
        </h2>
        <p class="mb-14 text-center text-zinc-800 text-xl font-semibold">
            Todo lo que necesitas para un día inolvidable en La Serena y
            Coquimbo
        </p>
        <div
            class="grid grid-cols-1 grid-rows-4 gap-4 lg:grid-cols-3 lg:grid-rows-2"
        >
            <div
                class="shadow-lg ring-2 backdrop-blur ring-white/20 rounded-lg overflow-hidden lg:h-96 lg:rounded-tl-3xl lg:col-span-2"
            >
                <img
                    src="/img/service/tinaja.avif"
                    alt="placeholder hero"
                    class="w-full h-full rounded-md object-cover lg:h-96"
                />
            </div>
            <div
                class="p-6 shadow-lg ring-2 backdrop-blur ring-white/20 bg-zinc-700/10 rounded-lg lg:h-96 lg:rounded-bl-3xl lg:col-start-1 lg:row-start-2"
            >
                <h3 class="text-3xl font-bold text-balance mb-6">
                    Arriendo de tinajas en La Serena y Coquimbo
                </h3>
                <p class="text-zinc-800 font-semibold text-balance">
                    Perfectas para relajarse, tanto en reuniones familiares como
                    en momentos de pareja o amigos.
                </p>
            </div>
            <div
                class="p-6 shadow-lg ring-2 backdrop-blur ring-white/20 bg-zinc-700/10 rounded-lg row-start-4 lg:h-96 lg:rounded-tr-3xl lg:col-start-3 lg:row-start-1"
            >
                <h3 class="text-3xl font-bold text-balance mb-6">
                    Arriendo de quincho con piscina
                </h3>
                <p class="text-zinc-800 font-semibold text-balance">
                    Ideal para disfrutar y celebrar en un ambiente seguro y
                    privado. Disfruta de un día de piscina y quincho con tus
                    seres queridos.
                </p>
            </div>
            <div
                class="shadow-lg ring-2 backdrop-blur ring-white/20 rounded-lg overflow-hidden lg:h-96 lg:rounded-br-3xl lg:col-span-2 lg:row-start-2"
            >
                <img
                    src="/img/service/picina.avif"
                    alt="placeholder hero"
                    class="w-full rounded-md object-cover lg:h-96"
                />
            </div>
        </div>
    </div>
</section>
