<section id="Testimonials">
    <div class="container py-12 mx-auto">
        <h2 class="mb-14 text-center text-4xl font-medium lg:text-7xl">
            Testimonios
        </h2>
        <p class="mb-14 text-center text-zinc-800 text-xl font-semibold">
            Nuestros clientes en La Serena y Coquimbo opinan
        </p>
        <div class="grid grid-cols-1 gap-12 place-items-center lg:grid-cols-3">
            <div
                class="flex flex-col w-full max-w-lg text-left shadow-lg ring-2 p-6 backdrop-blur ring-white/20 bg-zinc-700/10 rounded-lg lg:mx-auto lg:h-80"
            >
                <q
                    class="mx-auto text-xl text-center leading-relaxed text-zinc-800"
                >
                    Maravilloso lugar, tranquilo, Privado y acogedor. Pasamos un
                    ratito en familia, nos desconectamos y llenamos de energ칤a
                    con sus camas de cuarzo y tinaja.
                </q>
                <svg
                    viewBox="0 0 36 36"
                    fill="none"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    width="80"
                    height="80"
                    class="inline-block object-cover object-center w-20 h-20 mt-8 rounded-full mx-auto"
                    ><mask
                        id=":rhe:"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="36"
                        height="36"
                        ><rect width="36" height="36" fill="#FFFFFF" rx="72"
                        ></rect></mask
                    ><g mask="url(#:rhe:)"
                        ><rect width="36" height="36" fill="#fdffd9"
                        ></rect><rect
                            x="0"
                            y="0"
                            width="36"
                            height="36"
                            transform="translate(6 6) rotate(332 18 18) scale(1.2)"
                            fill="#ffd6a3"
                            rx="6"></rect><g
                            transform="translate(4 3) rotate(-2 18 18)"
                            ><path d="M13,21 a1,0.75 0 0,0 10,0" fill="#000000"
                            ></path><rect
                                x="12"
                                y="14"
                                width="1.5"
                                height="2"
                                rx="1"
                                stroke="none"
                                fill="#000000"></rect><rect
                                x="22"
                                y="14"
                                width="1.5"
                                height="2"
                                rx="1"
                                stroke="none"
                                fill="#000000"></rect></g
                        ></g
                    ></svg
                >
                <p class="text-center mt-2">Carla Albanez</p>
            </div>
            <div
                class="flex flex-col w-full max-w-lg text-left shadow-lg ring-2 p-6 backdrop-blur ring-white/20 bg-zinc-700/10 rounded-lg lg:mx-auto"
            >
                <q
                    class="mx-auto text-xl text-center leading-relaxed text-zinc-800"
                >
                    Hemos ido en varias ocasiones en familia y con amigos, lo
                    mejor es que es privado solo con las personas que uno va,
                    nos gust칩 el lugar que hicimos el baby shower de mi beb칠 ah칤
                    por todo el espacio al aire libre que disponen no hay tantas
                    restricciones con el aforo que fue lo que m치s me complic칩 en
                    los locales. 100% recomendado 游삤游낕
                </q>
                <svg
                    viewBox="0 0 36 36"
                    fill="none"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    width="80"
                    height="80"
                    class="inline-block object-cover object-center w-20 h-20 mt-8 rounded-full mx-auto"
                    ><mask
                        id=":r1c:"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="36"
                        height="36"
                        ><rect width="36" height="36" rx="72" fill="#FFFFFF"
                        ></rect></mask
                    ><g mask="url(#:r1c:)"
                        ><rect width="36" height="36" fill="#336666"
                        ></rect><rect
                            x="0"
                            y="0"
                            width="36"
                            height="36"
                            transform="translate(3 3) rotate(221 18 18) scale(1.2)"
                            fill="#ccd91a"
                            rx="36"></rect><g
                            transform="translate(-5 -2) rotate(-1 18 18)"
                            ><path
                                d="M15 21c2 1 4 1 6 0"
                                stroke="#000000"
                                fill="none"
                                stroke-linecap="round"></path><rect
                                x="13"
                                y="14"
                                width="1.5"
                                height="2"
                                rx="1"
                                stroke="none"
                                fill="#000000"></rect><rect
                                x="21"
                                y="14"
                                width="1.5"
                                height="2"
                                rx="1"
                                stroke="none"
                                fill="#000000"></rect></g
                        ></g
                    ></svg
                >
                <p class="text-center mt-2">Franchesca Arancibia</p>
            </div>
            <div
                class="flex flex-col w-full max-w-lg text-left shadow-lg ring-2 p-6 backdrop-blur ring-white/20 bg-zinc-700/10 rounded-lg lg:mx-auto lg:h-80"
            >
                <q
                    class="mx-auto text-xl text-center leading-relaxed text-zinc-800"
                >
                    Recomendado al 100% un lugar exclusivo para ti, t칰 familia
                    y/o amigos, hermoso, c칩modo y cerca de la ciudad, volver칤a
                    si o si
                </q>
                <svg
                    viewBox="0 0 36 36"
                    fill="none"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    width="80"
                    height="80"
                    class="inline-block object-cover object-center w-20 h-20 mt-8 rounded-full mx-auto"
                    ><mask
                        id=":rhl:"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="36"
                        height="36"
                        ><rect width="36" height="36" fill="#FFFFFF" rx="72"
                        ></rect></mask
                    ><g mask="url(#:rhl:)"
                        ><rect width="36" height="36" fill="#fdffd9"
                        ></rect><rect
                            x="0"
                            y="0"
                            width="36"
                            height="36"
                            transform="translate(-3 7) rotate(227 18 18) scale(1.2)"
                            fill="#ffd6a3"
                            rx="36"></rect><g
                            transform="translate(-3 3.5) rotate(7 18 18)"
                            ><path d="M13,21 a1,0.75 0 0,0 10,0" fill="#000000"
                            ></path><rect
                                x="12"
                                y="14"
                                width="1.5"
                                height="2"
                                rx="1"
                                stroke="none"
                                fill="#000000"></rect><rect
                                x="22"
                                y="14"
                                width="1.5"
                                height="2"
                                rx="1"
                                stroke="none"
                                fill="#000000"></rect></g
                        ></g
                    ></svg
                >
                <p class="text-center mt-2">Daniela Trujillo</p>
            </div>
        </div>
    </div>
</section>
