<section id="Testimonials">
    <div class="container py-12 mx-auto">
        <h2 class="mb-14 text-center text-4xl font-medium lg:text-7xl">
            Testimonios
        </h2>
        <p class="mb-14 text-center text-zinc-800 text-xl font-semibold">
            Nuestros clientes en La Serena y Coquimbo opinan
        </p>
        <div class="grid grid-cols-1 gap-12 place-items-center lg:grid-cols-3">
            <div
                class="flex flex-col w-full max-w-lg text-left shadow-lg ring-2 p-6 backdrop-blur ring-white/20 bg-zinc-700/10 rounded-lg lg:mx-auto lg:h-80"
            >
                <q
                    class="mx-auto text-xl text-center leading-relaxed text-zinc-800"
                >
                    Maravilloso lugar, tranquilo, Privado y acogedor. Pasamos un
                    ratito en familia, nos desconectamos y llenamos de energía
                    con sus camas de cuarzo y tinaja.
                </q>
                <img
                    src="/img/testimonios/carlaalbornos.avif"
                    alt="Carla Albanez"
                    width="80"
                    height="80"
                    class="inline-block object-cover object-center w-20 h-20 mt-8 rounded-full mx-auto"
                />
                <p class="text-center mt-2">Carla Albanez</p>
            </div>
            <div
                class="flex flex-col w-full max-w-lg text-left shadow-lg ring-2 p-6 backdrop-blur ring-white/20 bg-zinc-700/10 rounded-lg lg:mx-auto"
            >
                <q
                    class="mx-auto text-xl text-center leading-relaxed text-zinc-800"
                >
                    Hemos ido en varias ocasiones en familia y con amigos, lo
                    mejor es que es privado solo con las personas que uno va,
                    nos gustó el lugar que hicimos el baby shower de mi bebé ahí
                    por todo el espacio al aire libre que disponen no hay tantas
                    restricciones con el aforo que fue lo que más me complicó en
                    los locales. 100% recomendado!!
                </q>
                <img
                    src="/img/testimonios/franarancibia.avif"
                    alt="Franchesca Arancibia"
                    width="80"
                    height="80"
                    class="inline-block object-cover object-center w-20 h-20 mt-8 rounded-full mx-auto"
                />
                <p class="text-center mt-2">Franchesca Arancibia</p>
            </div>
            <div
                class="flex flex-col w-full max-w-lg text-left shadow-lg ring-2 p-6 backdrop-blur ring-white/20 bg-zinc-700/10 rounded-lg lg:mx-auto lg:h-80"
            >
                <q
                    class="mx-auto text-xl text-center leading-relaxed text-zinc-800"
                >
                    Recomendado al 100% un lugar exclusivo para ti, tú familia
                    y/o amigos, hermoso, cómodo y cerca de la ciudad, volvería
                    si o si
                </q>
                <img
                    src="/img/testimonios/Danitrujillo.avif"
                    alt="Daniela Trujillo"
                    width="80"
                    height="80"
                    class="inline-block object-cover object-center w-20 h-20 mt-8 rounded-full mx-auto"
                />
                <p class="text-center mt-2">Daniela Trujillo</p>
            </div>
        </div>
    </div>
</section>
