---
const ventajas = [
    {
        title: "Nuestro quincho",
        description:
            "¡Tu evento inolvidable te espera! Celebra en grande con tus seres queridos en El Rinconcito. Disfruta de asados en la parrilla, momentos mágicos alrededor de la fogata, chapuzones refrescantes en la piscina y amplias áreas verdes para relajarte. ¡Contamos con estacionamiento y un ambiente acogedor para que solo te preocupes por disfrutar!",
        image: "/img/whyus/parrilla.avif",
    },
    {
        title: "Tinaja y camas de cuarzo",
        description:
            "Imagina relajarte en camas de cuarzo, rodeado de un entorno natural y con el calor reconfortante de nuestra tinaja. El Rinconcito te ofrece una experiencia única para cuidar de tu cuerpo y mente. ¡Reserva ahora y desconecta del mundo!",
        image: "/img/whyus/cama.avif",
    },
    {
        title: "Experiencias inolvidables al alcance de todos.",
        description:
            "Ofrecemos tarifas competitivas sin sacrificar la calidad. Disfruta de un día completo en nuestra piscina, quincho y tinaja a precios que se ajustan a tu presupuesto.",
        image: "/img/whyus/fogata.avif",
    },
    {
        title: "Totalmente privado",
        description:
            "Disfruta de un espacio exclusivo, solo para ti y tus acompañantes. Relájate en un ambiente natural y acogedor, lejos del estres.",
        image: "/img/whyus/amigas tinaja 2.avif",
    },
];
---

<section id="WhyUs" class="py-12">
    <div class="container mx-auto">
        <h2 class="mb-8 text-center text-4xl font-medium lg:text-7xl">
            Elije El Rinconcito
        </h2>
        {
            ventajas.map((ventaja, index) => (
                <div class="grid items-center grid-cols-1 mb-24 md:grid-cols-2 gap-y-10 md:gap-y-32 gap-x-10 md:gap-x-24 group">
                    <div
                        class={`order-none ${(index === 1 || index === 3) && "md:order-2"}`}
                    >
                        <h2 class="mb-4 text-2xl font-extrabold tracking-tight text-center text-black md:leading-tight sm:text-left md:text-4xl">
                            {ventaja.title}
                        </h2>
                        <p class="mb-5 text-base text-center font-semibold text-zinc-800 px-4 sm:px-0 sm:text-left md:text-lg">
                            {ventaja.description}
                        </p>
                    </div>
                    <div class="relative w-full h-full rounded-md">
                        <img
                            src={ventaja.image}
                            alt="placeholder hero"
                            class="w-full h-[450px] rounded-md object-cover"
                        />
                        <img
                            src={ventaja.image}
                            alt="placeholder hero"
                            class="absolute inset-0 -z-10 w-full h-[450px] rounded-lg object-cover group-hover:blur-md transition-all"
                        />
                    </div>
                </div>
            ))
        }
    </div>
</section>
