---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>El Rinconcito</title>
    </head>
    <body class="antialiased flex flex-col min-h-screen bg-zinc-900">
        <Header />
        <main
            class="relative flex-grow -z-20 bg-[conic-gradient(at_top_left,_var(--tw-gradient-stops))] from-lime-500 via-lime-100 to-lime-600"
        >
            <div
                class="absolute -z-10 h-full w-full bg-[radial-gradient(#3f3f46_1px,transparent_2px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)] opacity-15"
            >
            </div>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
    html {
        scroll-behavior: smooth;
    }
    ,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
